.container {
    max-width: 1200px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-end {
    text-align: end;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .me-2 {
    margin-right: 0.5rem !important;
  }
  